.red{
    background: @red
}
.blue{
    background: @blue
}
.just-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.g-cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.defaultSpacing{
    padding: 0 16px
}